@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
    text-decoration: none;
    font-family: 'jura', 'serif';
    font-weight: 500;
}