@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /*outline: 1px solid blue; */
    background-color: #f8f5d7;
  }

.container {
    margin: auto;
}

.sideNav {
    box-sizing: border-box;
    padding: .5rem 2rem;
    font-family: 'Montserrat', 'sans-serif';
}


/* Add sliding transition to side nav when below tablet size */
.sideNav {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

@media (max-width: 1024px) {
    .sideNav {
      opacity: 0;
      transform: translateX(-100%);
      pointer-events: none;
      display: none;
    }
}

.sideHeading {
    font-weight: 700;
    margin-bottom: -.7em;
}

.postLink {
    list-style-type: none;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.postLink:hover {
    text-decoration: underline;
}

.smallDivider {
    border-bottom: 1px slategray;
    margin-top: 3px;
    margin-bottom: 3px;
}

.rssLink {
    display: block;
}

.favoritePosts {
    padding-left: 0px;
}