@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.container {
    margin: auto;
}

.sideNav {
    box-sizing: border-box;
    width: 20%;
    background-color: bisque;
    padding: .5rem 2rem;
    font-family: 'jura', 'serif';
}

.sideHeading {
    font-weight: 700;
}

.postLink {
    list-style-type: none;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.postLink:hover {
    text-decoration: underline;
}

.smallDivider {
    border-bottom: 1px slategray;
    margin-top: 3px;
    margin-bottom: 3px;
}

.rssLink {
    display: block;
}

.favoritePosts {
    padding-left: 0px;
}