@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.article-card {
    display: flex;
}
  
.article-box {
  display: flex;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 1.2em;
  padding-left: .5em;
  padding-right: .5em;
}

.article-image {
    padding: 7.5px;
}
    
.article-content {
    font-size: 1em;
    font-family: 'Montserrat', 'sans-serif';
}